 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 959px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 51px 66px 0 auto;
}

.u-section-1 .u-custom-html-1 {
  height: auto;
  min-height: 667px;
  margin: 38px 358px 0 405px;
}

.u-section-1 .u-text-2 {
  margin: 15px 452px 60px auto;
}

.u-section-1 .u-icon-1 {
  margin-top: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    width: 667px;
    margin-top: 40px;
    margin-right: auto;
  }

  .u-section-1 .u-custom-html-1 {
    width: 377px;
    margin-top: 28px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-2 {
    margin-right: 373px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 25px;
    margin-left: 27px;
    margin-right: 27px;
  }

  .u-section-1 .u-custom-html-1 {
    margin-top: 27px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 13px;
    margin-right: auto;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
    margin-top: 31px;
    margin-left: 33px;
    margin-right: 33px;
  }

  .u-section-1 .u-custom-html-1 {
    margin-top: 24px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 955px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.25rem;
    margin-top: 12px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-1 .u-custom-html-1 {
    min-height: 676px;
    width: 383px;
    margin-top: 19px;
    margin-left: -22px;
    margin-right: -22px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 12px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 553px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  margin: 140px auto 0;
}

.u-section-2 .u-gallery-1 {
  height: 68px;
  width: 943px;
  grid-gap: 17px;
  margin: 58px auto 60px;
}

.u-section-2 .u-gallery-inner-1 {
  grid-template-columns: repeat(5, auto);
  grid-gap: 17px;
}

.u-section-2 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 536px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
  }

  .u-section-2 .u-gallery-1 {
    height: 207px;
    width: 723px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 487px;
  }

  .u-section-2 .u-gallery-1 {
    height: 134px;
    width: 654px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 369px;
  }

  .u-section-2 .u-gallery-1 {
    height: 91px;
    width: 478px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 657px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 123px;
  }

  .u-section-2 .u-gallery-1 {
    height: 387px;
    width: 175px;
  }

  .u-section-2 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 191px;
}

.u-section-3 .u-text-1 {
  margin: 60px auto;
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 135px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 46px;
    margin-bottom: 45px;
  }
}